<%- include("partials/header") -%>

<h1>Blogging is an Art</h1>

<p>
  <%= homeStartingContent %>
</p>

<h2>Publish your passion, your own way!!!</h2>

<% posts.forEach(function(post){ %>
<h3>
  <%= post.title %>
</h3>
<p style="text-align: left; margin-top: 0%;">
  <%= post.body.substring(0, 100) + "..." %>
  <a href="<%= "/posts/" + post.title %>">Read More</a>
</p>
<% });%>


<%- include("partials/footer") -%>
